* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.top-back {
    height: 350px;
    background-color: #1F2937 ;
    color: white;
}

.top {
    display: flex;
    flex-direction: column;
    margin: 10px 100px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.nav-list {
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 20px;
    margin: 0px;
}

li, a {
    text-decoration: none;
    list-style: none;
    color: white;
}

.top-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin: 70px 0px;
}

.top-info-left {
    display: flex;
    flex-direction: column;
    flex: 1 1 100px;
}

.top-info-left-title {
    display: flex;
    flex-direction: row;
    min-width: 0px;
    width: 200px;
    margin: 0px;
}


.top-info-right {
    display: flex;
    background-color: grey;
    padding: 60px;
    flex: 1 1 100px;
    justify-content: center;
}

.top-info-left-button {
    display: flex;
    flex-direction: row;
    background-color: #3882F6;
    color: white;
    min-width: 0;
    width: 90px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 0px;
    height: 25px;
}

.middle {
    display: flex;
    flex-direction: column;
}

.middle-one { 
    height: 350px;
    background-color: white;
    color: #1F2937;
    justify-content: center;
}

.middle-one .container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 10px 100px;
}

img {
    width: 100px;
    height: auto;
    border: thin solid #3882F6;
    border-radius: 15px;
}

.middle-one-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-one-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 0 0 265px;
    gap: 15px;
}

.main-cube, .main-cube p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.middle-two-back {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
}

.middle-two {
    display: flex;
    flex-direction: column;
    margin: 50px 150px;
    flex: 0 0 400px;
    font-size: larger;
}

.middle-two-sign {
    display: flex;
    justify-content: end;
    margin: 0%;
    font-weight: bold;
    font-size: small;
}

.middle-three-back {
    display: flex;
    justify-content: center;
    background-color: white;
}

.middle-three {
    background-color: #3882F6;
    border-radius: 5px;
    color: white;
    display: flex;
    margin: 70px 100px;
    padding: 30px;
    flex: 0.5 0.5 500px;
}

.middle-three-left {
    display: flex;
    flex-direction: column;

}

.middle-three-left h3{
    width: 200px;
    margin:0px;
}

.middle-three-left p{
    margin: 0px;
    font-size: small;
    font-weight: lighter;
}

.middle-three-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.middle-three-right button {
    border-radius: 5px;
    background-color: #3882F6;
    color : white;
    border: 1px solid white;
    font-weight: light;
    width: 90px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    height: 80px;
}

footer {
    font-size: small;
}